* {
    background-color: #ede8da;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
}

    ::-webkit-scrollbar-thumb:hover {
        width: 0px;
    }

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

#myDiv {
    display: none;
    transition: ease-in;
}

body {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    color: black;
    margin: 0;
    background: transparent;
}


h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    text-align: left;
    background: transparent;
    z-index: 25;
    color: black;
    margin: 222px 48px 48px 48px;
    width: calc(100% - 96px);
}

a.index-desc {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: black;
    background: transparent;
    text-decoration: none;
    z-index: 90;
}

    a.index-desc:hover {
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        font-size: 12px;
        color: #FF4C4C;
        background: transparent;
        text-decoration: none;
        z-index: 90;
        font-style: normal;
    }

    a.index-desc:active {
        font-family: 'Work Sans', sans-serif;
        font-weight: lighter;
        font-size: 12px;
        color: #FF4C4C;
        background: transparent;
        text-decoration: none;
        z-index: 90;
        font-style: normal;
    }

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: transparent;
    grid-gap: 0px;
    margin: 0px 48px 48px 48px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    margin: 6px 0px;
    text-decoration: none;
    color: black;
}


.grid-row-project {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: transparent;
    margin: 6px 0px;
    text-decoration: none;
    color: black;
}

    .grid-row-project:hover p {
        text-decoration: none;
        font-style: normal;
        color: #d5addb;
        border: none;
        background: transparent;
    }

.grid-row-photo {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: transparent;
    margin: 6px 0px;
    text-decoration: none;
    color: black;
}

    .grid-row-photo:hover p {
        text-decoration: none;
        font-style: normal;
        color: #f54b40;
        border: none;
        background: transparent;
    }

.pg-title {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    margin: 0px 0px;
    background: transparent;
    padding: 0px 12px 0px 0px;
}

a.category-linkedin {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: transparent;
    position: absolute;
    bottom: 17px;
    text-decoration: none;
}

.category-linkedin span {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: #bfb943;
    padding: 5px 10px;
    border-radius: 25px;
    color: black;
}

.category-linkedin:hover span {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 25px;
    color: #bfb943;
    font-style: normal;
}

a.category-email {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: transparent;
    position: absolute;
    bottom: 17px;
    text-decoration: none;
}

.category-email span {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: #d5addb;
    padding: 5px 10px;
    border-radius: 25px;
    color: black;
}

.category-email:hover span {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 25px;
    color: #d5addb;
    font-style: normal;
}


.grid-item {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
    color: black;
    margin: 0px;
    padding: 12px 0px;
    background: transparent;
    z-index: 10;
    border-bottom: 1px solid black;
    line-height: 1.5px;
    position: relative;
}

.grid-item-links-box {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
    color: #FF4C4C;
    padding: 48px;
}

.grid-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: transparent;
    grid-gap: 0px;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: calc(100% - 96px);
    padding: 48px 48px 36px 48px;
}

.grid-nav-item {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: black;
    background: transparent;
    z-index: 999;
}



    a.nav {
        font-family: 'Work Sans', sans-serif;
        font-weight: normal;
        font-size: 14px;
        color: black;
        text-decoration: none;
        background: transparent;
    }

        a.nav:hover {
            font-family: 'Work Sans', sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #FF4C4C;
            text-decoration: none;
            font-style: normal;
            background: transparent;
        }

        a.nav:active {
            font-family: 'Work Sans', sans-serif;
            font-weight: normal;
            font-size: 14px;
            color: #FF4C4C;
            text-decoration: none;
            font-style: normal;
            background: transparent;
        }




footer {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    padding: 48px 0px;
    background: transparent;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
