* {
    background-color: #ede8da;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
}

    ::-webkit-scrollbar-thumb:hover {
        width: 0px;
    }

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

#myDiv {
    display: none;
    transition: ease-in;
}

body {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    color: black;
    margin: 20px;
    background: transparent;
    padding: 48px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 64px 0px 48px 0px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 24px;
    background: transparent;
    z-index: 25;
    color: black;
}

.links-container {
    background: transparent;
    text-align: left;
}

a.category-linkedin {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: transparent;
    bottom: 17px;
    text-decoration: none;
}

.category-linkedin span {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: #bfb943;
    padding: 5px 10px;
    border-radius: 25px;
    color: black;
}

.category-linkedin:hover span {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 25px;
    color: #bfb943;
    font-style: normal;
}

a.category-email {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: transparent;
    /* position: absolute; */
    bottom: 17px;
    text-decoration: none;
}

.category-email span {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: #d5addb;
    padding: 5px 10px;
    border-radius: 25px;
    color: black;
}

.category-email:hover span {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    margin: 0px;
    background: transparent;
    padding: 5px 10px;
    border-radius: 25px;
    color: #d5addb;
    font-style: normal;
}

footer {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    padding: 48px 0px 96px 0px;
    background: transparent;
    bottom: 0px;
    position: fixed;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

