* {
    background-color: #524c34;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
}

    ::-webkit-scrollbar-thumb:hover {
        width: 0px;
    }

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

#myDiv {
    display: none;
    transition: ease-in;
}

@media only screen and (max-width: 490px) {

    body {
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5;
        color: #ede1c9;
        background: transparent;
        text-align: center;
        padding: 0px 8px 8px 8px;
    }

    h1 {
        text-align: center;
        margin: 96px 0px 72px 0px;
        text-align: left;
        /* font-family: 'Work Sans', sans-serif; */
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 24px;
        background: transparent;
        z-index: 25;
        color: #ede1c9;
    }

    header {
        text-align: center;
        position: sticky;
        background: #524c34;
        color: #ede1c9;
        height: 60px;
        width: 100%;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
    }

    .hdrcol-left {
        text-align: left;
        position: static;
        background: transparent;
        margin: 12px 0px 0px 0px;
        top: 0px;
        color: #ede1c9;
        font-family: "Jacquarda Bastarda 9 Charted", serif;
        font-size: 24px;
        font-weight: 400;
    }

    .hdrcol-center {
        text-align: center;
        position: relative;
        background: transparent;
        margin: 20px 0px 0px 0px;
        color: #ede1c9;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    .hdrcol-right {
        text-align: center;
        position: relative;
        background: transparent;
        margin: 20px 0px 0px 0px;
        color: #ede1c9;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    .hdrlogo {
        /* position: fixed; */
        width: 96px;
        /* transition: width 0.3s ease-in-out 0s; */
        padding: 0px;
        background: transparent;
    }


    /* header .logo img{width:200px;transition:width 0.3s ease-in-out 0s;} */


    .body-container {
        margin: 96px 0px 48px 0px;
    }

    .geeseimg {
        max-width: 100%;
    }

    .links-container {
        background: transparent;
        text-align: left;
    }

    a.mode-toggle {
        text-decoration: none;
        background: transparent;
        margin: 20px 0px 0px 0px;
        color: #ede1c9;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    a.category-linkedin {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: transparent;
        bottom: 17px;
        text-decoration: none;
    }

    .category-linkedin span {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: #ede1c9;
        padding: 5px 10px;
        border-radius: 25px;
        color: #524c34;
    }

    .category-linkedin:hover span {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: transparent;
        padding: 5px 10px;
        border-radius: 25px;
        color: #ede1c9;
        font-style: normal;
    }

    a.category-email {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: transparent;
        /* position: absolute; */
        bottom: 17px;
        text-decoration: none;
    }

    .category-email span {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: #ede1c9;
        padding: 5px 10px;
        border-radius: 25px;
        color: #524c34;
    }

    .category-email:hover span {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: transparent;
        padding: 5px 10px;
        border-radius: 25px;
        color: #ede1c9;
        font-style: normal;
    }

    .blog {
        display: grid;
        grid-template-columns:  1fr;
    }


    .blogcol {
        /* font-family: 'Work Sans', sans-serif; */
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        background: transparent;
        text-align: left;
        border-bottom: 1px solid #ede1c9;
        padding: 8px 0px 0px 0px;
        text-decoration: none;
        display: inline-block;
    }

    /* .blogcol span {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        background: transparent;
        color: #ede1c9;
        text-align: left;
        border-bottom: 1px solid #ede1c9;
        padding: 8px 0px 0px 0px;
        text-decoration: none;
        display: inline-block;
    }

    .blogcol:hover span {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        background: transparent;
        color: #d5addb;
        text-align: left;
        border-bottom: 1px solid #ede1c9;
        padding: 8px 0px 0px 0px;
        text-decoration: none;
        display: inline-block;
    } */


    h3 {
        font-family: "Roboto Mono", monospace;
        color: #ede1c9;
        font-size: 12px;
        text-decoration: underline;
        text-align: left;
        font-weight: 500;
        padding: 96px 0px 0px 0px;
    }

    footer {
        font-size: 12px;
        /* font-family: 'Work Sans', sans-serif; */
        font-family: "Roboto Mono", monospace;
        color: #ede1c9;
        padding: 48px 0px 96px 0px;
        background: transparent;
        bottom: 0px;
        position: relative;
        font-weight: 400;
    }

}

@media only screen and (min-width: 491px) {

    .hdrcol-left {
        text-align: left;
        position: static;
        background: transparent;
        margin: 8px 0px 0px 48px;
        top: 0px;
        color: #ede1c9;
        font-family: "Jacquarda Bastarda 9 Charted", serif;
        font-size: 36px;
        font-weight: 400;
    }

    body {
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5;
        color: #ede1c9;
        background: transparent;
        text-align: center;
        padding: 48px 8px 8px 8px;
    }

    h1 {
        text-align: center;
        margin: 148px 0px 72px 0px;
        text-align: left;
        /* font-family: 'Work Sans', sans-serif; */
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 24px;
        background: transparent;
        z-index: 25;
        color: #ede1c9;
    }

    header {
        text-align: center;
        position: sticky;
        background: #524c34;
        color: #ede1c9;
        height: 72px;
        width: 100%;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 5fr 2fr 2fr;
    }

    .hdrcol-center {
        text-align: center;
        position: relative;
        background: transparent;
        margin: 28px 0px 0px 0px;
        font-family: "Roboto Mono", monospace;
        color: #ede1c9;
        font-size: 12px;
    }

    .hdrcol-right {
        text-align: center;
        position: relative;
        background: transparent;
        margin: 28px 48px 0px 0px;
        color: #ede1c9;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    .hdrlogo {
        /* position: fixed; */
        width: 96px;
        /* transition: width 0.3s ease-in-out 0s; */
        padding: 0px;
        background: transparent;
    }


    /* header .logo img{width:200px;transition:width 0.3s ease-in-out 0s;} */


    .body-container {
        margin: 96px 48px 48px 48px;
    }

    .geeseimg {
        max-width: 100%;
    }

    .links-container {
        background: transparent;
        text-align: left;
    }

    a.mode-toggle {
        text-decoration: none;
        background: transparent;
        margin: 20px 0px 0px 0px;
        color: #ede1c9;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    a.category-linkedin {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: transparent;
        bottom: 17px;
        text-decoration: none;
    }

    .category-linkedin span {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: #ede1c9;
        padding: 5px 10px;
        border-radius: 25px;
        color: #524c34;
    }

    .category-linkedin:hover span {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: transparent;
        padding: 5px 10px;
        border-radius: 25px;
        color: #ede1c9;
        font-style: normal;
    }

    a.category-email {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: transparent;
        /* position: absolute; */
        bottom: 17px;
        text-decoration: none;
    }

    .category-email span {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: #ede1c9;
        padding: 5px 10px;
        border-radius: 25px;
        color: #524c34;
    }

    .category-email:hover span {
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1;
        font-weight: normal;
        margin: 0px;
        background: transparent;
        padding: 5px 10px;
        border-radius: 25px;
        color: #ede1c9;
        font-style: normal;
    }

    .blog {
        display: grid;
        grid-template-columns:  1fr;
    }


    .blogcol {
        /* font-family: 'Work Sans', sans-serif; */
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        background: transparent;
        text-align: left;
        border-bottom: 1px solid #ede1c9;
        padding: 8px 0px 0px 0px;
        text-decoration: none;
        display: inline-block;
    }

    /* .blogcol span {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        background: transparent;
        color: #ede1c9;
        text-align: left;
        border-bottom: 1px solid #ede1c9;
        padding: 8px 0px 0px 0px;
        text-decoration: none;
        display: inline-block;
    }

    .blogcol:hover span {
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 12px;
        background: transparent;
        color: #d5addb;
        text-align: left;
        border-bottom: 1px solid #ede1c9;
        padding: 8px 0px 0px 0px;
        text-decoration: none;
        display: inline-block;
    } */


    h3 {
        font-family: "Roboto Mono", monospace;
        color: #ede1c9;
        font-size: 12px;
        text-decoration: underline;
        text-align: left;
        font-weight: 500;
        padding: 96px 0px 0px 0px;
    }

    footer {
        font-size: 12px;
        /* font-family: 'Work Sans', sans-serif; */
        font-family: "Roboto Mono", monospace;
        color: #ede1c9;
        padding: 48px 0px 96px 0px;
        background: transparent;
        bottom: 0px;
        position: relative;
        font-weight: 400;
    }
}



.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
