* {
    background-color: #ede1c9;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    width: 0px;
}

    ::-webkit-scrollbar-thumb:hover {
        width: 0px;
    }

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes animatebottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

    /* UNIVERSAL STYLES */

    #myDiv {
        display: none;
        transition: ease-in;
    }

    .gallery-grid-2-desc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 0px 48px 0px;
    }

    /* FOOTER */

    footer {
        font-size: 12px;
        font-family: "Roboto Mono", monospace;
        color: #524c34;
        padding: 48px 0px;
        background: transparent;
        bottom: 0px;
        position: relative;
        font-weight: 400;
        text-align: center;
    }

    /* SCROLLING */

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

@media only screen and (max-width: 526px) {

    /* SML BODY */

    body {
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5;
        color: #524c34;
        background: transparent;
        text-align: center;
        margin: 0px;
    }

    .body-container {
        font-size: 12px;
        padding: 8px;
    }

    /* SML NAV BAR */

    header {
        text-align: center;
        position: sticky;
        background: #ede1c9;
        color: #524c34;
        height: 60px;
        width: (100%-32px);
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        z-index: 999;
        padding: 0px 8px;
        margin: 4px 8px 4px 8px;
    }

    .hdrcol-left {
        text-align: left;
        position: static;
        background: transparent;
        margin: 8px 0px 0px 0px;
        top: 0px;
        color: #524c34;
        font-family: "Jacquarda Bastarda 9 Charted", serif;
        font-size: 24px;
        font-weight: 400;
    }

    .hdrcol-center {
        text-align: center;
        position: relative;
        background: transparent;
        margin: 20px 0px 0px 0px;
        font-family: "Roboto Mono", monospace;
        color: #524c34;
        font-size: 12px;
    }

    .hdrcol-right {
        text-align: center;
        position: relative;
        background: transparent;
        margin: 20px 0px 0px 0px;
        color: #524c34;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    .hdrlogo {
        width: 96px;
        padding: 0px;
        background: transparent;
    }

    a.nav-bar {
        text-decoration: none;
        background: transparent;
        margin: 20px 0px 0px 0px;
        color: #524c34;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    a.nav-bar:visited {
        color: #524c34;
    }

    a.nav-bar:hover {
        color: #bfb943;
    }

    a.nav-bar:active {
        color: #bfb943;
    }
    
    a.nav-bar-home {
        text-decoration: none;
        background: transparent;
        color: #524c34;
        font-family: "Jacquarda Bastarda 9 Charted", serif;
        font-size: 28px;
        font-weight: 400;
    }
    
    a.nav-bar-home:visited {
        color: #524c34;
    }

    a.nav-bar-home:hover {
        color: #bfb943;
    }

    a.nav-bar-home:active {
        color: #bfb943;
    }

    /* SML HEADER */

    h1 {
        text-align: center;
        margin: 48px 8px;
        text-align: left;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 24px;
        background: transparent;
        z-index: 25;
        color: #524c34;
    }

    /* SML GRID ELEMENTS */

    .gallery-grid-2 {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .gallery-grid-1 {
        text-align: center;
    }

    .box {
        padding: 8px;
        text-align: center;
    }

    .text-box {
        text-align: left;
        padding: 8px;
        font-size: 12px;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
    }

}

@media only screen and (min-width: 527px) {

    /* LRG BODY */

    body {
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        line-height: 1.5;
        color: #524c34;
        background: transparent;
        padding: 24px 8px 8px 8px;
    }

    .body-container {
        margin: 48px 36px;
        font-size: 12px;
    }

    /* LRG NAV BAR */

    header {
        text-align: center;
        position: sticky;
        background: #ede1c9;
        color: #524c34;
        height: 72px;
        width: 100%;
        left: 0;
        top: 0;
        display: grid;
        grid-template-columns: 5fr 2fr 2fr;
        z-index: 999;
    }
    
    .hdrcol-left {
        text-align: left;
        position: static;
        background: transparent;
        margin: 8px 0px 0px 48px;
        top: 0px;
        color: #524c34;
        font-family: "Jacquarda Bastarda 9 Charted", serif;
        font-size: 36px;
        font-weight: 400;
    }

    .hdrcol-center {
        text-align: center;
        position: relative;
        background: transparent;
        margin: 28px 0px 0px 0px;
        font-family: "Roboto Mono", monospace;
        color: #524c34;
        font-size: 12px;
    }

    .hdrcol-right {
        text-align: center;
        position: relative;
        background: transparent;
        margin: 28px 48px 0px 0px;
        color: #524c34;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    .hdrlogo {
        width: 96px;
        padding: 0px;
        background: transparent;
    }

    a.nav-bar {
        text-decoration: none;
        background: transparent;
        margin: 20px 0px 0px 0px;
        color: #524c34;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
    }

    a.nav-bar:visited {
        color: #524c34;
    }

    a.nav-bar:hover {
        color: #bfb943;
    }

    a.nav-bar:active {
        color: #bfb943;
    }

    a.nav-bar-home {
        text-decoration: none;
        background: transparent;
        color: #524c34;
        font-family: "Jacquarda Bastarda 9 Charted", serif;
        font-size: 36px;
        font-weight: 400;
    }

    a.nav-bar-home:visited {
        color: #524c34;
    }

    a.nav-bar-home:hover {
        color: #bfb943;
    }

    a.nav-bar-home:active {
        color: #bfb943;
    }

    /* LRG HEADER */

    h1 {
        text-align: center;
        margin: 48px 12px;
        text-align: left;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
        font-size: 24px;
        background: transparent;
        z-index: 25;
        color: #524c34;
    }

    /* LRG GRID ELEMENTS */

    .gallery-grid-box {
        margin: 24px 0px 48px 0px;
        width: 80%;
        padding-left: 10%;
    }

    .gallery-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-grid-1 {
        text-align: center;
    }
    
    .box {
        padding: 12px;
        text-align: center;
    }

    .text-box {
        text-align: left;
        padding: 12px;
        font-size: 12px;
        font-family: "Roboto Mono", monospace;
        font-weight: 400;
    }

}